.background_image {
    background-image: url('https://assets.awwwards.com/assets/images/pages/awards-2020/social/home.jpg?v=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
 