{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6 container">
    </div>
    <div class="col-md-6">
        <h5 class="text-center mt-5 mb-5">WELCOME TO AWWWARDS</h5>
        <div class="div d-flex justify-content-between align-items-center">
            <div class="info">
                <strong><p>Register with</p></strong>
            </div>
            <div class="infomation">
                <p>Are you a member? <a href="{% url 'login'%}">Login now</a></p>
            </div>
        </div>
        <form action="{% url 'register'%}" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                    {{form.email}}
            </div>
            <div class="form-group">
                {{form.username}}
            </div>
            <div class="form-group">
                {{form.password}}
            </div>
            <div class="form-group">
                {{form.confirm_password}}
            </div>
            <div class="form-group d-grid">
                <button type="submit" class="btn btn-primary btn-block" >REGISTER NOW</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
<script src=""></script>