{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-12 container">
        <div class="container-home">
            <h1 class="text-white">Welcome To AWWWARDS Website</h1>
            <p style="max-width: 400px;margin:auto;letter-spacing: 1px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ipsam assumenda dicta similique odio adipisci earum sed ad temporibus, quis illo quae laborum veritatis mollitia cupiditate fuga eum vero iste!</p>
          <form action="{% url 'create-post'%}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary m-5" type="submit">POST A PROJECT FOR A REVIEW</button>
          </form>
        </div>
    </div>
  </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <h5 class="text-center">Sample rated projects</h5>
    <hr>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    {% for post in posts %}
    <div class="col-md-3">
    <div class="card">
        <img src="{{post.image.url}}" class="card-img-top" alt="..." style="max-height: 380px;">
        <div class="card-body">
          <h5 class="card-title">Posted by {{post.author.username}}</h5>
          <h5 class="card-title">{{post.name}}</h5>
          <p class="card-text">{{post.description}}</p>
          <div class="div d-flex justify-content-between align-items-center">
              <div class="like">
                <a href="{{post.project_link}}" class="btn btn-primary">Visit site</a>
              </div>
              <div class="liked d-flex justify-content-between align-items-center">
                  <div class="me-3">
                    <form action="{% url 'like' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post" id="post" value="{{post.id}}">
                        {% if user not in post.liked.all %}
                              <button class="btn btn-info" type="submit">like</button>
                        {% else %}
                              <button class="btn btn-danger" type="submit">unlike</button>
                        {% endif %}
                    </form>
                  </div>
                  <div>
                   <p style="margin-left: 0.3rem; vertical-align:middle">{{post.liked.all.count}} likes</p> 
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}