{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col-md-12">
        <h5>Sample rated projects</h5>
    </div>
</div>
<div class="row">
    {% for post in posts %}
    <div class="col-md-4">
    <div class="card">
        <img src="{{post.image.url}}" class="card-img-top" alt="..." style="max-height: 380px;">
        <div class="card-body">
          <h5 class="card-title">Posted by {{post.author.username}}</h5>
          <h5 class="card-title">{{post.name}}</h5>
          <p class="card-text">{{post.description}}</p>
          <div class="div d-flex justify-content-between align-items-center">
              <div class="like">
                <a href="{{post.project_link}}" class="btn btn-primary">Visit site</a>
              </div>
              <div class="liked">
                <form action="{% url 'like'%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post" id="post" value="{{post.id}}">
                    {% if user not in post.liked.all %}
                    <button class="btn btn-info" type="submit">like</button>
                    {% else %}
                    <button class="btn btn-danger" type="submit">unlike</button>
                    {% endif %}
                </form>
                {{post.liked.all.count}}
              </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}